  .navColor{color:white;padding:21px;}
  .loginRegister{color:white;}
  .noPadding{padding:0px;}
  .daoHang {padding:21px;}
  .carouselImg{height:500px;}
  .backgroundImg{background-image:url(image/ͼ1.jpg);}
  body{font-family:微软雅黑,Microsoft YaHei,Arial;}
  .bg-anli1{background:linear-gradient(to bottom right,#191970,#00ffff)}
  .bg-anli2{background:linear-gradient(to bottom right,#4b0082,#20b2aa)}
